.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.container{
  width: 100%;
}

.navbar {
  margin-top: 2em !important;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  color: black;
  background-color: white !important;
  margin-top: 2em !important;
}

.main a{
  display: block;
  border-right: 1px solid black !important;
  border-bottom: none !important;
  width : 50%;
  justify-content: center;
  text-align: center !important;
  font-size: calc(10px + 1vmin);
  background-color:#FF4136 !important;
  color : white !important;
  opacity: 0.9;
  transition: ease 0.3s;
}

.main a:hover {
  opacity: 1;
}

li {
  opacity: 0.7;
  transition: ease 0.3s;
}

.emailView {
  font-size: calc(10px + 1.5vmin);
}

li:hover {
  opacity: 1;
}

li span{
    text-align: left;
    font-size: calc(10px + 0.8vmin);
}
.checkboxContent{
 width:10%;
 float: left;
 color: black;
}

.check1 {
  float: left;
  opacity: 1 !important;
}

.fromContent{
   width:30%;
   margin-left: 1.5em;
   float: left;
   text-align: left;
   color: black;
}
.textContent{
  
  float: left;
  text-align: left;
}

li:hover {
  cursor: pointer;
}

.formButton {
  margin-top : 2em !important;
  float: right;
}